*{margin: 0;padding: 0;}
.hide{
    display: none;
}
.carGame{
    width: 100%;
    height: 100vh;
    background-image: url("Dubai1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.car,.enemy{
    height: 70px;
    width: 50px;
    background-color: red;
    position: absolute;
    /* left: 10px; */
    bottom: 120px;
    background-image: url("Copy of honda-cbr1000rr-05-bikepics-211910.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* **********************************14-08-2020********7:36 AM********************************   */
.gameArea{
    width: 400px;
    height: 100vh;
    background: #2d3436;
    margin: auto;
    position: relative;
    overflow: hidden;
    /* border-right: 7px dashed #c8d6e5; */
    border-right: 7px dashed yellowgreen;
    border-left: 7px dashed yellowgreen;
}
.lines{
    width: 10px;
    height: 100px;
    background: white;
    position: absolute;
    /* margin: auto; */
     /* 400 width/2-5 */
    margin-left: 195px; 
}
.score{
    position: absolute;
    top: 15px;
    left: 40px;
    width: 300px;
    /* height: 70px; */
    line-height: 70px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
    background: greenyellow;
    color: white;
    box-shadow: 0 5px 5px #777;
}
.startScreen{
    position: absolute;
    background-color: #ee5352;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    text-align: center;
    padding: 15px;
    margin: auto;
    width: 50%;
    border: 1px solid #ff6b6b;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 5;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;

}